<p>
    <mat-toolbar color="primary" class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <!--<button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
    >
    <mat-icon>menu</mat-icon>
    </button> -->    
    <span class="title-group">
       <!--  <a>
            <i class="material-icons">
                dashboard
            </i>
        </a> -->
      <a> <i class="material-icons md-dark v-top"><mat-icon>dashboard</mat-icon> </i>LAFAMIGLIA </a>  
    
    </span>
    <span class="example-spacer"></span>
    
    </mat-toolbar>
    
</p>
