.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 60px;
    
}

.header .material-icons{
    cursor: pointer;
}

.v-top{
    padding-right: 2.2px;
}
